In [1]:
# Import the pandas library as pd
import pandas as pd

In [2]:
# Create dataframe from scratch
class_stats = {'names': ['James','Tina','Malik'], 
               'ages': [30, 27, 35],
               'height': [6, 6, 5.5]}

df = pd.DataFrame(class_stats)

In [5]:
print(df)

   names  ages  height
0  James    30     6.0
1   Tina    27     6.0
2  Malik    35     5.5

In [ ]:
# Basic operations - Find the Sum, Average, Min and Max values in the Dataframe's HEIGHT column
df['height'].sum()
df['height'].mean()
df['height'].min()
df['height'].max()

In [ ]:
# Find the sum of the rows where AGES is greater than 28 (Equivalent to SUMIF Function in Microsoft Excel)
df['ages'].where(df['ages']>28).sum() # method chaining

In [36]:
# Find the sum of the rows where AGES is greater than 28 (Equivalent to SUMIF Function in Microsoft Excel) - Using For Loop
sum_value = 0
for num in df['ages']:
    if num > 28:
        sum_value = sum_value + num

In [ ]:
print(sum_value)

In [ ]:
# Find the total count of the rows where AGES is greater than 28 (Equivalent to COUNTIF Function in Microsoft Excel)
df['ages'].where(df['ages']>28).count() # method chaining
df['ages'].where(df['ages']>28).value_counts().sum() # alternative way

In [31]:
# A quick primer on dictionaries and how to access their components
age = {'Mosadijesu': 30, 'Ada': 41, 'John': 36}

for key, value in age.items():
    print(key,value)

In [49]:
# How to access row values using Pandas Row Locator Function - dataframe.loc[row,(column)]
df.loc[0:2]

   names  ages  height
0  James    30     6.0
1   Tina    27     6.0
2  Malik    35     5.5

In [48]:
# How to access row values using Pandas Row Locator Function - dataframe.iloc[row,(column)]
df.iloc[0:2]

   names  ages  height
0  James    30     6.0
1   Tina    27     6.0

In [ ]:
# The difference between dataframe.loc and dataframe.iloc is that dataframe.loc references index numbers while
# dataframe.iloc uses index positions

In [42]:
# A quick primer on Slicing. The Syntax for slicing is [start:stop:(steps)]
names = ['Justina','Moesha', 'Abiodun', 'Adeh', 'Amara']

In [45]:
names[0::2]

['Justina', 'Abiodun', 'Amara']

In [4]:
# How to slice/index Key - value pair: variable_name[key][value]
df['names'][0]

'James'