### Variables - Where it all begins

In [1]:
# A variable is a pointer to the container where an item is stored in memory
# Variable name conventions in Python: 
# (a) Snake Case (if variable name is made up of multiple words)
# (b) Does not begin with a number or special character 
# (c) Readable/meaningful 
# (d) Can be overwritten if required
# (e) Can be assigned to a function or method's result

In [45]:
age = 42

In [46]:
print(age + 1)

43

In [47]:
age = 16

In [48]:
print(age +1 )

17

### Primitive Data Types

In [51]:
# A variable can assume any of the following types:
# Strings
names = "Khadija Abdul"

In [52]:
print(type(names))

<class 'str'>

In [53]:
# Float
height = 1.68

In [54]:
print(type(height))

<class 'float'>

In [55]:
# int
attendance = 41

In [56]:
print(type(attendance))

<class 'int'>

In [57]:
# boolean
class_status_on = True

In [58]:
print(type(class_status_on))

<class 'bool'>

### Operators

In [ ]:
# (+ - * / ** % & || )

In [66]:
print(3%3)

0

In [60]:
print ("Ugo" + "Onyeka")

UgoOnyeka

### Data Structures (a.k.a Collections)

In [ ]:
# A way of bringing data types together to solve problems
# (a) Lists
# (b) Tuples
# (c) Sets
# (d) Dictionaries

#### Lists

In [ ]:
# Lists are the most frequently used data structures
people_in_class = ['James', 'Opeyemi', 'Aisha']

In [48]:
# Create another list to capture the years of birth of the above people_in_class
dob_class = [1970, 1980, 1995]

In [49]:
# Print type
print(type(dob_class))

<class 'list'>

In [50]:
# Use indexing to assign the int 1985 to the first date of birth
dob_class[0] = 1985

In [51]:
# Print the dob_class to show whether the update worked.
print(dob_class)

[1985, 1980, 1995]

#### Tuples

In [ ]:
# Tuples - Created by Parenthesis. These are used when you do not expect the data to change.
year_of_birth = (1960, 1975, 1995)

In [ ]:
# Print data type of the variable, year_of_birth
print(type(year_of_birth))

In [ ]:
# Tuples have index too. Run this code cell to print the first item in the year_of_birth tuple
year_of_birth[0]

In [ ]:
# Tuples are not changeable so you cannot add any new element or update any existing element.
year_of_birth[0] = 1955 # This code will yield an error

# The best way to change/update a tuple is to convert it first to a list.

#### Sets

In [52]:
# Sets are created using curly braces. Sets are used when you do not intend to have any duplicate
# entries in the data.
# Create a new set called people_in_class
people_in_class = {'James', 'Aisha','Jude', 'Aisha'}

In [67]:
# You can add a new item to sets using the add or update method
people_in_class.add('Sadiqah')

In [68]:
print(people_in_class)

{'Aisha', 'James', 'Jude', 'Sadiqah'}

In [58]:
# Type conversion works for sets too. You can convert a set to a list by just using the 'list' keyword
people_in_class_list = list(people_in_class)

In [60]:
people_in_class_list[1]

'Jude'

In [61]:
# You can convert from one data type to another e.g. from integer to string
score = 70

In [62]:
type(score) # Integer

int

In [63]:
# Convert the score to string by using the str keyword
score_str = str(score)

In [64]:
print(score_str) # Now this variable is a string

'70'

#### Dictionaries

In [2]:
# Dictionaries are the preferred data structure used when your data is made up of key-value pairs
bio_data = {'name': ['Aisha','James', 'Opeyemi'], 'age': [40, 55, 26]}

In [3]:
# You an add a new key-value pair by assignment
bio_data['height'] = [1.6, 1.5, 1.7]

In [4]:
# Print bio_data
print(bio_data)

{'name': ['Aisha', 'James', 'Opeyemi'], 'age': [40, 55, 26], 'height': [1.6, 1.5, 1.7]}

In [5]:
# You can update a dictionary using the update method. All you need do is put the new key and values as
# parameters inside the update method.
bio_data.update({'weight': [250, 300]})

In [6]:
print(bio_data)

{'name': ['Aisha', 'James', 'Opeyemi'], 'age': [40, 55, 26], 'height': [1.6, 1.5, 1.7], 'weight': [250, 300]}

In [9]:
# You can update a dictionary by assigning the new values to the variable
bio_data['weight'] = [250, 300, 650]

In [75]:
# Print the name and age of the first person in the bio_data variable
bio_data['name'][0], bio_data['age'][0]

('Aisha', 40)

In [55]:
# Print variable type of the bio_data variable
print(type(bio_data))

<class 'dict'>

In [66]:
# How to index/slice an item that has a Key - Value Pair
# variable_name[key][value]
bio_data['age'][1]

55

![](ds.JPG)

#### Control Structures

In [ ]:
# Control Structures - This is used to determine the flow of the execution of code.

![](control_structures.jpg)

In [79]:
# Example of Conditional Control Stuctures
age = 35
weight = 130

if age > 35:
    print ('you are too old for this class')
else:
    print ('You are the right person for the class')

You are the right person for the class